@font-face {
    font-family: 'calibre-regular';
    src: url('../fonts/CalibreWeb-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'calibre-semibold';
    src: url('../fonts/CalibreWeb-Semibold.woff2') format('woff2');
}
@font-face {
    font-family: 'simplonmono-regular';
    src: url('../fonts/SimplonMono-Regular-WebS.woff2') format('woff2');
}
@font-face {
    font-family: 'simplonmono-bold';
    src: url('../fonts/SimplonMono-Bold-WebS.woff2') format('woff2');
}
.calibre-regular {
    font-family: 'calibre-regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.calibre-semibold {
    font-family: 'calibre-semibold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.calibre-regular {
    font-family: 'calibre-regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.calibre-semibold {
    font-family: 'calibre-semibold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.simplonmono-bold {
    font-family: 'simplonmono-bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.simplonmono-regular {
    font-family: 'simplonmono-regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

* {
    box-sizing: border-box;
}

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
    --border-info-project-hover: #0d6efd;
    --border-input: #ced4da;
    --background-input: #ffffff;
    --border-input-focus: #333333;
    --border: #EBECF0;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
    --border-info-project-hover: #0d6efd;
    --border-input: #212529;
    --background-input: #212529;
    --border-input-focus: #ffffff;
    --border: #212529;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--background)!important;
}
input, select, textarea, button {
    font-family: 'calibre-regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h5, p {margin: 0}

a {
    color: inherit;
    text-decoration: none;
}
.navbar ul {
    display: flex;
    gap: 5px;
}
.navbar ul li a {
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px;
}
.navbar, .navbar-light ul li a:hover {
    background-color: #e9ecef;
}
.navbar, .navbar-dark ul li a:hover {
    background-color: #212529;
}
.navbar-light .show > .nav-link, .navbar-light .nav-link.active {
    color: var(--bs-navbar-active-color);
    background-color: #e9ecef;
}
.navbar-dark .show > .nav-link, .navbar-dark .nav-link.active {
    color: var(--bs-navbar-active-color);
    background-color: #212529;
}
.bg-dark ul li a:hover {
    color: #ffffff!important;
}
.bg-primary ul li a:hover {
    color: #ffffff!important;
}
.text-black {
    color: var(--foreground);
}
.cursor-pointer {
    cursor: pointer;
}
.link-project {
    box-shadow: 0 0 0 1px var(--border)!important;
    border-radius: 10px;
}
.link-project > a:hover{
    color: var(--border-info-project-hover)!important;
    box-shadow: 0 0 0 2px var(--border-info-project-hover)!important;
    display: flex;
    border-radius: 10px;
}
.form-control {
    background-color: var(--background-input)!important;
    border: 1px solid var(--border-input)!important;
    color: var(--foreground)!important;
    box-shadow: none!important;
}
.form-control:focus {
    border: 1px solid var(--border-input-focus)!important;
}
.shadow-navbar {
    transition-duration: 0.3s;
}


@media screen and (max-width: 600px) {
    .navbar {
        background-color: #000000!important;
        height: auto!important;
    }
}
